* {
  box-sizing: border-box;
}

.backgroundImage {
  background-image: url("../assets/bg.jpg")
}

/* main social media navbar styling */
.mediaBar {
  display: inline;
  float: right;
  width: 50%;
}
/*
facebook color: 68	88	151
rss color: 204	143	50
twitter color: 106	141	199
youtube color: 178	56	45
*/
.socialMedia {
  display: inline-block;
  height: 60px;
  width: 60px;
  border-bottom: 4px, solid, rgb(255, 255, 255, .5);
  margin: 0px,10px;
  vertical-align: top;
}

.facebook {
  background-color: rgb(68, 88, 151);
}
.rss {
  background-color: rgb(204, 143, 50);
}
.twitter {
  background-color: rgb(106, 141, 199);
}
.youtube {
  background-color: rgb(178, 56, 45);
}
