* {
  box-sizing: border-box;
}

.backgroundImage {
  background-image: url("../assets/bg.jpg")
}

/* main social media nav styling */

/*
facebook color: 68	88	151
rss color: 204	143	50
twitter color: 106	141	199
youtube color: 178	56	45
*/
.socialMedia {
  display: inline-block;
  height: 60px;
  width: 60px;
  border-bottom: 4px, solid, rgb(255, 255, 255, .5);
  padding: 11px
  margin: 10px
}

.facebook {
  background-color: rgb(68, 88, 151)
}
.mediaBar {
  display: inline-block;
  float: right;
  width: 50%;
}
