* {
  box-sizing: border-box;
  font-family: Gill Sans, sans-serif;
  font-weight: lighter;
}

a {
  text-decoration: none;
}
/* The remnants of an attempt to make a shape

.rectanglePart {
  display: inline-block;
  position: absolute;
  width: 140px;
  height: 80px;
  background: blue;
}
*/


.backgroundImage {
  background-image: url("../assets/bg.jpg");
  background-repeat: no-repeat;
  /* https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Background_and_Borders/Scaling_background_images ---- MUCH better than 100% as value */
  background-size: cover;
}


.mainDiv--centered {
  margin: 0 auto;
  width: 1024px;
  padding-bottom: 36px;

}

/* subscribe link */
.subscribe {
  display: inline-block;
  margin-left: 56%;
  vertical-align: top;
}

.subscribe__link {
  position: relative;
  display: inline-block;
  color: rgb(252, 252, 252);
  margin-top: 20px;
  text-transform: uppercase;
}

.subscribe__dot--1 {
  position: relative;
  display: inline-block;
  background-color: rgb(252, 252, 252);
  border-radius: 50%;
	width: 4px;
	height: 4px;
  vertical-align: top;
  margin-top: 27px;
}

.dots__stack--container {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin-left: 96px;
}

/* Tried to use a flex bos to space out but dont fully understand how to use it yet. */
.dots__stack {
  position: relative;
  display: flex;
  background-color: rgb(252, 252, 252);
  border-radius: 50%;
	width: 4px;
	height: 4px;
  margin-bottom: 3px;
}

.dots__stack:nth-child(1) {
  margin-top: 13px;
}

/* main social media navbar styling */
.mediaBar {
  position: relative;
  display: inline-block;
}

/*
facebook color: 68	88	151
rss color: 204	143	50
twitter color: 106	141	199
youtube color: 178	56	45
red for buttons: 180	41	46
*/
.socialMedia {
  display: inline-block;
  height: 60px;
  width: 60px;
  margin: 0px,10px;
  vertical-align: top;
  box-shadow: 0px 4px 0px rgba(255, 255, 255, 0.5);
}

/*styling for the social media icon images*/
.img--size {
  position: relative;
  width: 40px;
  height: 40px;
  opacity: 0.2;
  margin-top: 9px;
  margin-left: 12px;
  text-align: center;
}

.facebook--icon {
  width: 60px;
  height: 60px;
  margin: 0px;
}

.facebook {
  background-color: rgb(68, 88, 151);
}
.rss {
  background-color: rgb(204, 143, 50);
}
.twitter {
  background-color: rgb(106, 141, 199);
}
.youtube {
  background-color: rgb(178, 56, 45);
}

/* main navbar*/
.menuBar {
  display: inline-block;
  position: relative;
  margin-top: 86px;
  width: 100%;
  height: 77px;
  text-align: center;
}
/*main navbar buttons*/
.menuBar--button {
  display: inline-block;
  color: white;
  text-transform: uppercase;
  background-color: rgb(180, 41, 46);
  width: 248px;
  height: 40px;
  padding: 14px;
  vertical-align: center;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;


  /*
  found this at http://www.w3schools.com/cssref/css3_pr_box-shadow.asp
  adding a border with opacity showed the color of it's own element instead of being translucent to the background image
  the values of the property control x-position, y-position, and the softness of the edge
  */
  box-shadow: 0px 4px 0px rgba(255, 255, 255, 0.5);
}

.carousel__main {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 360px;
  background-image: url("../assets/top-image.png");
  /* "Tip: Always set a background-color to be used if the image is unavailable."
  http://www.w3schools.com/cssref/pr_background-image.asp
  */
  background-color: rgb(168, 167, 166);
  /*
  http://www.w3schools.com/cssref/pr_background-position.asp
    	"The first value is the horizontal position and the second value is the vertical. The top left corner is 0 0. Units can be pixels (0px 0px) or any other CSS units. If you only specify one value, the other value will be 50%. You can mix % and positions"
  */
  background-position: 35% 20%;
  border: 10px solid rgb(251, 251, 251);
  box-shadow: 0px 4px 0px rgba(255, 255, 255, 0.5);
  padding-right: 547px;
  padding-top: 50px;
  margin-top: 20px;
  overflow: hidden;

}

.gridFilter {
  position: absolute;
  background-image: url("../assets/grid.png");
  width: 100%;
  height: 360px;
  top: 0;
  opacity: .5;
}

.logo{
  width: 400px;
  height: 240px;
  opacity: 1;
}

/*buttons container*/
.carousel__buttons {
  display: inline-block;
  margin: 22px 480px;
  vertical-align: top;
}

.carousel__buttons--link {

}

.carousel__buttons--circle {
  display: inline-block;
  background-color: rgb(227, 227, 227);
  border-radius: 50%;
	width: 16px;
	height: 16px;
  box-shadow: 0px 3px 0px rgba(255, 255, 255, 0.5);
}

.innerDot {
  /* WARNING: didn't really know how to position this*/
  position: relative;
  display: inline-block;
  background-color: rgb(180, 41, 46);
  border-radius: 50%;
	width: 6px;
	height: 6px;
}

.carousel__buttons--link {

}

/* article grid*/
.grid__row {

}

.grid__column {

}

.article {
  position: relative;
  display: inline-block;
  background-color: rgb(252, 252, 252);
  width: 33%;
  height: 350px;
  box-shadow: 0px 4px 0px rgba(255, 255, 255, 0.5);
  vertical-align: top;
  padding: 22px;

}

.article__title {
  font-weight: 400;
  position:relative;

}

.timestamp {
  color: rgb(173, 173, 173);
}

.article__preview {

}

.readMore {
  color: rgb(180, 41, 46);
  position: absolute;
  left: auto;
}

/* bio grid with pictures*/
.bios {
  display: inline-block;
  margin-top: 24px;
}

.bios__link {
  position: relative;
  text-align: center;
}

.bios__container {
  position: relative;
  display: inline-block;
  width: 100%;
}

h3 {
  position: absolute;
  color: white;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 30px;
  text-transform: uppercase;
  text-align: center;
  margin: auto;
}

.lance {
  background-image: url("../assets/sk8er-4.png");
  background-position: 70% 20%;
  width: 334px;
  height: 232px;
  border: 5px solid rgb(227, 227, 227);
}

.rodney {
  background-image: url("../assets/sk8er-3.png");
  width: 339px;
  height: 232px;
  border: 5px solid rgb(227, 227, 227);
  margin-right: 10px;
}

.tommy {
  float: right;
  background-image: url("../assets/sk8er-2.png");
  background-position: 78%;
  width: 336px;
  height: 474px;
  border: 5px solid rgb(227, 227, 227);
}

.steve {
  background-image: url("../assets/sk8er-1.png");
  background-position: center;
  width: 678px;
  height: 237px;
  border: 5px solid rgb(227, 227, 227);
}

.bios__heading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: tanslate(-50%, -50%)
  color: rgb (227, 227, 227);
}

.boards {
  display: inline-block;
  width: 100%;
  height: 295px;
  background-color: rgb(252, 252, 252);
  padding: 20px;
  box-shadow: 0px 4px 0px rgba(255, 255, 255, 0.5);
  margin-top: 30px;
  padding-left: 45px;

}

.boards__images {
  position: relative;
  display: inline-block;
  text-align: justify;
  margin-right: 30px;
  text-align: justify;
}

.boards__images:nth-child(10) {
  margin-right: 0;
}

/* Footer begins here */

.footer__container {
  width: 100%;
  height: 362px;
  background-color: rgb(252,252, 252);
  box-shadow: 0px 4px 0px rgba(255, 255, 255, 0.5);
  margin-top: 34px;
  padding-top: 34px;
  padding-left: 38px;
  padding-right: 29px;
  margin-bottom: 36px;
}

.contactUs__container {
  display: inline-block;
  position: relative;
  width: 450px;
  height: 282px;
  vertical-align: top;
}

/* navbar container for socail media in the footer */
.mediaBar__footer {
  margin-top: 31px;
}
/* Styling for the *footer* social media icon images */

.socialMedia__Footer {
  display: inline-block;
  height: 31px;
  width: 30px;
  margin: 0px,10px;
  vertical-align: top;
  box-shadow: 0px 4px 0px rgba(255, 255, 255, 0.5);
}

.img--sizeFooter {
  position: relative;
  width: 15px;
  height: 15px;
  opacity: 0.2;
  margin-top: 7px;
  margin-left: 8px;
  text-align: left;
}

.facebookFooter--icon {
  width: 31px;
  height: 30px;
  margin: 0px;
}

.facebookFooter {
  background-color: rgb(79,	79,	79)	;
}

.rssFooter {
  background-color: rgb(174,	174, 174);
}

.twitterFooter {
  background-color: rgb(122,	122,	122);
}

.youtubeFooter {
  background-color: rgb(116,	116,	116);
}

/*  Forms styling here*/

.forms__container {
  position: relative;
  display: inline-block;
  width: 434px;
  float: right;
}

.contactUs__heading {
  text-transform: capitalize;
  font-size: 20px;
  font-weight: 400;
}

.inputs__box {
  width: 100%;
  height: 43px;
  font-size: 20px;
  text-transform: uppercase;
  color: rgb(175, 175, 175);
  padding: 11px;
  /* Tried using border-style: inset, but couldnt get it to work correctly */
  border-top: 4px solid rgb(175, 175, 175);
  border-left: 4px solid rgb(175, 175, 175);
  border-right: 1px solid rgb(175, 175, 175);
  border-bottom: 1px solid rgb(175, 175, 175);
}

.nameBox {
  margin-bottom: 17px;
}

.emailBox {
  margin-bottom: 17px;
}

.textInput {
  height: 108px;
  margin-bottom: 29px;
  resize: none;
}

.submit {
  width: 248px;
  height: 40px;
  font-family: Gill Sans, sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  color: rgb(252, 252, 252);
  background-color: rgb(180, 41, 46);
  border:0 none;
  border-radius: 0px;
  float: right;
}
